<p>Bienvenido,</p>
<p>Usted ha sido registrado/a correctamente
    en el sistema haga click en el siguiente enlace para ingresar al sistema</p>
<p>
<p>
    <a href="{{ url }}">Krugercorp</a>
</p>

<p>
    Su usuario es: {{ name }}<br>
    Su contraseña temporal es: {{temporalPassword}}
</p>

<p>Si no solicitó este correo electrónico, puede ignorarlo sin problemas.</p>